<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
		<ul>
			<li><a href="Home/About">About</a></li>
			<li><a href="/">Home</a></li>
		</ul>
	@RenderBody()
</body>
</html>

